$background: #ececeb;
$color-yellow: #f9a828;
$color-blue: #07617d;
$color-grayHard: #2e383f;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//entoncesque.com
